body {
    font: 82% arial, sans-serif;
}

h2 {
    font-size: large;
    margin-top: 35px;
}

p {
    line-height: 1.25em;
}

.example {
    background-color: #ddd;
    width: 100%;
    height: auto;
}

.handlerdiv {
    width: 100%;
    display: block;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.closing_x {
    height: 15px;
    width: 15px;
    float: right;
    margin-right: 25%;
    cursor: pointer;
}
#table_outer{
    max-height:200px;
    overflow: auto;
    overflow-x: hidden;
    width: 85%;
    margin: 0 auto;
}
.param_label{
    display: inline-block;
    padding: 10px;
    width: 150px;
}
#main{
    width: 100%;
    margin-top: 20px;
}
#nav_menu{
    width: 250px;
/**
    border: 1px gray solid;
    float: left;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    max-height: 1000px;
    overflow: auto;
    overflow-x:hidden;
*/
}
#nav_menu h2{
        text-align: center;
}
.methodlist{
    padding: 5px 0 0 10px;
}
.methoditem{
    padding: 3px 3px 0 3px;
    width: 60px;
}
pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    max-width: 90%;
}
.anchor{
    color: black !important;
    text-decoration: none !important;

}

.jsonlintError{
    background: #FBE3E4;
    color: #D12F19;
    border-color: #FBC2C4;
    margin-bottom: 1em;
    border: 2px solid #ddd;
    padding: .8em;
    display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}